
#root{
    background-color: var(--cor0)
}

/* HEADER DO PROJETO */

header{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

section.box01{
    display: flex;
    width: 90%;
    height: 50px;
    border: 1px solid var(--cor2);
    border-radius: 60px;
    background-color: var(--cor2);
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* SECTION - TELA DO JOGO */

section.tela{
    display: flex;
    width: 80%;
    height: 700px;
    background-image: url("003.jpg");
    background-position: center;
    background-size: 100% 350px;
    border: 40px solid var(--cor2);
    border-radius: 60px;
    margin: 30px;

    flex-direction: column;
}

/* TITULO */

section.contTit{
    width: 100%;
    height: 50PX;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1#titulo{
    font-family: 'Srisakdi', cursive;
    font-size: 30px;
    color: var(--cor2);
}

/* SECTION INFORMAÇÕES */

section.contInfo{
    width: 100%;
    height: 319px;
    display: flex;
}
section.contgeral{
    width: 60%;
    height: 319px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article.contparag{
    width: 60%;
    height: 219px;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0,0,0,0.6);
    border-radius: 15px;
}
p#txt01{
    color: var(--cor2);
    text-align: justify;
    font-size: 10px;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
}
div.contBotones{
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img#boton01{
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 30px;
}
img#boton01:hover{
    transition: transform 1s;
    transform: scale(1.2);
}

input#boton02{
    width: 78px;
    padding: 5px;
    border-radius: 30px;
    font-family: 'Srisakdi', cursive;
}
input#boton02:hover{
    transition: transform 1s;
    transform: scale(1.2);
    background-color: rgb(185, 76, 76);
    color: rgb(233, 224, 213);
}

/* CARD DEL PERSONAJE - ASIDE */

aside.contInfo02{
    width: 40%;
    height: 295px;
    display: flex;
    align-items: flex-start;
    background-color: rgba(231, 206, 207,0.8);
    justify-content: center;
    margin: 10px;
    
}
div.cuadrado{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  img  */

div#img{
    width: 100px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
img{
    height: 80px;
    width: 90px;
    border-radius: 30px;
}

/* OPÇÕES */

article#opciones{

    width: 90%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

/* TEXTO */

h2#par01{
    color: var(--cor0);
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
}

/* Boton */

div.respuesta{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
input#boton03{
    width: 100px;
    background-color: rgb(117, 24, 55);
    border-radius: 20px;
    color: var(--cor2);
    transition: background-color 0.5s;
    transition: color 0.5s;
    font-family: 'Srisakdi', cursive;
}
input#boton03:hover{
    transition: transform 1s;
    transform: scale(1.2);
    background-color: rgb(161, 49, 55);
    color: rgb(219, 126, 5);
}



/* FOOTER */

footer#eP2{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}
section.box02{
    display: flex;
    width: 90%;
    height: 50px;
    border: 1px solid var(--cor2);
    border-radius: 60px;
    background-color: var(--cor2);
}