/* INDEX */

@media (min-width: 200px) and (max-width: 500px){  
    
    body#root{
        height: 100%;
    }

    header{
        height: 40px;
    }
    section.box01{
        width: 90%;
        height: 10px;
        background-color: var(--cor2);
    }

    section.tela{
        display: flex;
        width: 90%;
        height: 550px;
        background-color: var(--cor0);
        border: 10px solid var(--cor2);
        border-radius: 20px;
        margin: 10px;
    }
    section.criador{
        display: none;
    }
    #creador{
        display: none;
    }
    footer#eP2{
        height: 40px;
    }
    section.box02{
    width: 90%;
    height: 10px;
    background-color: var(--cor2);  
    }
    
}

@media (min-width: 501px) and (max-width:1080px){

    body#root{
        height: 100%;
    }

    header{
        height: 80px;
    }
    section.box01{
        width: 90%;
        height: 20px;
        background-color: var(--cor2);
    }

    section.tela{
        display: flex;
        width: 90%;
        height: 350px;
        background-color: var(--cor0);
        border: 10px solid var(--cor2);
        border-radius: 20px;
        margin: 10px;
    }
    section.criador{
        display: none;
    }
    #creador{
        display: none;
    }
    footer#eP2{
        height: 80px;
    }
    section.box02{
    width: 90%;
    height: 20px;
    background-color: var(--cor2);  
    }

}

@media(min-width: 1081px) and (max-width: 2080px){

    body#root{
        height: 100%;
    }

    header{
        height: 80px;
    }
    section.box01{
        width: 90%;
        height: 20px;
        background-color: var(--cor2);
    }

    section.tela{
        display: flex;
        width: 90%;
        height: 500px;
        background-color: var(--cor0);
        border: 10px solid var(--cor2);
        border-radius: 20px;
        margin: 10px;
    }
    section.criador{
        display: none;
    }
    footer#eP2{
        height: 80px;
    }
    section.box02{
    width: 90%;
    height: 20px;
    background-color: var(--cor2);  
    }

}
@media(min-width: 2081px) and (max-width: 3080px){
    body#root{
        height: 100%;
    }

    header{
        height: 80px;
    }
    section.box01{
        width: 90%;
        height: 20px;
        background-color: var(--cor2);
    }

    section.tela{
        display: flex;
        width: 90%;
        height: 900px;
        background-color: var(--cor0);
        border: 10px solid var(--cor2);
        border-radius: 20px;
        margin: 10px;
    }
    section.criador{
        display: none;
    }
    #creador{
        display: none;
    }
    footer#eP2{
        height: 80px;
    }
    section.box02{
    width: 90%;
    height: 20px;
    background-color: var(--cor2);  
    }
}